﻿@model dynamic

@{
    ViewBag.Title = "Create City";
}

<h2>Create City</h2>
<form action="/City/Create" method="post">
    Naam <input type="text" name="name" /><br>
    Postcode <input type="text" name="zipcode" /> <br>
    <input type="submit" value="submit" />
</form>