﻿@model Domein.City

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div>
    <h4>Category</h4>
    <hr />
    <table style="width:100%">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Zipcode)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Id)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Zipcode)</td>
        </tr>
    </table>

</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}