﻿@model Domein.City

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form action="/City/Edit" method="post">
    ID <input type="text" name="id" readonly="readonly" value=@Html.DisplayFor(item => item.Id)><br>
    Naam <input type="text" name="name" value=@Html.DisplayFor(item => item.Name)><br>
    Postcode <input type="text" name="zipcode" value=@Html.DisplayFor(item => item.Zipcode)> <br>
    <input type="submit" value="submit"/>
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>