﻿@model System.Collections.Generic.List<Domein.City>

@{
    ViewBag.Title = "Index";
}

<h2>Steden</h2>
<table class="table">
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Create new", "Create")