﻿@model IReadOnlyCollection<Domein.Keyword>

@{
    ViewBag.Title = "Maak personaVraag aan";
    //Layout = "_Layout";
}

<h2>Maak personaVraag aan</h2>

<form action="/PersonaQuestion/Create" method="post">
    <fieldset>
        <legend>Persona vraag</legend>
        vraag <input type="text" name="question"/><br>
    </fieldset>
    <fieldset>
        <legend>Optie 1</legend>
        Optie tekst: <input type="text" name="option1Text"/><br>
        Keyword:
        <select id="keyword" name="keyword1">
            @foreach (var item in Model)
            {
                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.KeywordText)</option>
            }
        </select>
    </fieldset>
    <fieldset>
        <legend>Optie 2</legend>
        Optie tekst: <input type="text" name="option2Text"/><br>
        KewWord:
        <select id="keyword" name="keyword2">
            @foreach (var item in Model)
            {
                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.KeywordText)</option>
            }
        </select>
    </fieldset>
    <p><input type="submit" value="Submit" /> </p>
</form>
