﻿@model Domein.PersonaQuestion

@{
    ViewBag.Title = "Persona vraag verwijderen";
    //Layout = "_Layout";
}

<h2>Persona vraag verwijderen</h2>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Vraag</th>
        <th>Optie 1</th>
        <th>Optie 2</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Id)</td>
        <td>@Html.DisplayFor(model => model.QuestionText)</td>
        <td>@Html.DisplayFor(model => model.Option1.OptionText)</td>
        <td>@Html.DisplayFor(model => model.Option2.OptionText)</td>
    </tr>
    @Html.ActionLink("Back to List", "Index")
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}