﻿@model Domein.PersonaQuestion

@{
    ViewBag.Title = "Persona vraag details";
    //Layout = "_Layout";
}

<h2>Persona vraag details</h2>
<div class="container">
    <div class="row">
        Personavraag: @Html.DisplayFor(modelItem => modelItem.QuestionText)
        ID: @Html.DisplayFor(modelItem => modelItem.Id)
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Optie 1: @Html.DisplayFor(modelItem => modelItem.Option1.OptionText)</p>
            <p>Keyword: @Html.DisplayFor(modelItem => modelItem.Option1.OptionKeyword.KeywordText)</p>
        </div>
        <div class="col-sm-6">
            <p>Optie 2: @Html.DisplayFor(modelItem => modelItem.Option2.OptionText)</p>
            <p>Keyword: @Html.DisplayFor(modelItem => modelItem.Option2.OptionKeyword.KeywordText)</p>
        </div>
    </div>
</div>
@Html.ActionLink("Back to List", "Index")