﻿@using Domein

@{
    ViewBag.Title = "Persona vraag bewerken";
    IReadOnlyCollection<Keyword> keywords = ViewBag.Keywords;
    PersonaQuestion question = ViewBag.Question;
    //Layout = "_Layout";
}

<h2>Persona vraag bewerken</h2>


<form action="/PersonaQuestion/Edit" method="post">
    <fieldset>
        <legend>Persona vraag</legend>
        vraag <input type="text" name="question" value="@question.QuestionText" /><br>
        id <input type="text" name="Id" value="@question.Id" readonly="readonly" /><br>
    </fieldset>
    <fieldset>
        <legend>Optie 1</legend>
        Optie tekst: <input type="text" name="option1Text" value="@question.Option1.OptionText" /><br>
        Keyword:
        <select id="keyword" name="keyword1">
            @foreach (Keyword item in keywords)
            {
                if (item.Id == question.Option1.OptionKeyword.Id)
                {
                    <option selected="selected" value="@item.Id)">@item.KeywordText</option>
                }
                <option value="@item.Id">@item.KeywordText</option>
            }
        </select>
    </fieldset>
    <fieldset>
        <legend>Optie 1</legend>
        Optie tekst: <input type="text" name="option2Text" value="@question.Option2.OptionText" /><br>
        Keyword:
        <select id="keyword" name="keyword2">
            @foreach (Keyword item in keywords)
            {
                if (item.Id == question.Option2.OptionKeyword.Id)
                {
                    <option selected="selected" value="@item.Id">@item.KeywordText</option>
                }
                <option value="@item.Id">@item.Id</option>
            }
        </select>
    </fieldset>
    <p><input type="submit" value="Submit" /> </p>
</form>