﻿@using Domein

@{
    ViewBag.Title = "Maak een keuze vraag aan";
    //Layout = "_Layout";
}

<h2>Maak een keuze vraag aan</h2>
<div class="container">
    <form action="/ChoiseQuestion/Create" method="post">
        <div class="row">
            <fieldset>
                <legend>Keuzevraag</legend>
                vraag <input type="text" name="question" /><br>
                Keyword:
                <select id="keyword1" name="keywordMatch">
                    @foreach (Keyword item in ViewBag.Choise)
                    {
                        <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.KeywordText)</option>
                    }
                </select>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend>Optie 1</legend>
                    <p>
                        Optie tekst: <input type="text" name="option1Text" /><br>
                    </p>
                    <p>
                        Eigenschap: <input type="text" name="eigenschapOptie1" />
                    </p>
                    <p>
                        <select id="keyword2" name="keywordOptie1">
                            @foreach (Keyword item in ViewBag.KeywordsOptie1)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.KeywordText)</option>
                            }
                        </select>
                    </p>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>Optie 2</legend>
                    <p>
                        Optie tekst: <input type="text" name="option2Text" /><br>
                    </p>
                    <p>
                        Eigenschap: <input type="text" name="eigenschapOptie2" />
                    </p>
                    <p>
                        <select id="keyword" name="keywordOptie2">
                            @foreach (Keyword item in ViewBag.KeywordsOptie2)
                            {
                                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.KeywordText)</option>
                            }
                        </select>
                    </p>
                </fieldset>
            </div>
        </div>
        <p><input type="submit" value="Submit" /> </p>
    </form>

</div>

