﻿@using Domein

@{
    ViewBag.Title = "Keuze vraag details";
    //Layout = "_Layout";
}
<h2>Keuze vraag details</h2>
<div class="container">
    <div class="row">
        <h3>Situatie</h3>
        <p>ID: @ViewBag.Choisequestion.Id</p>
        <p>Situatie omschrijving:<br />@ViewBag.ChoiseQuestion.ChoiseText</p>
        <p>
            Voorwaarde op voorkomen<br />
            <ul>
                @foreach (Keyword keyword in ViewBag.ChoiseQuestion.choiseMatchCollection)
                {
                    <li>@Html.DisplayFor(k => keyword.KeywordText)</li>
                }
            </ul>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Optie 1</h3>
            <p>Omschrijving:<br />@ViewBag.ChoiseQuestion.Option1.Text</p>
            <p>
                Eigenschappen:<br />
                <ul>
                    @foreach (Property property in @ViewBag.ChoiseQuestion.Option1.Properties)
                    {
                        <li>@Html.DisplayFor(modelItem => property.QualityType) @Html.DisplayFor(modelItem => property.Text)</li>
                    }
                </ul>
            </p>
            <p>Eigenschap personage: @ViewBag.ChoiseQuestion.Option1.OptionKeyword.KeywordText</p>
        </div>

        <div class="col-sm-6">
            <h3>Optie 2</h3>
            <p>Omschrijving:<br />@ViewBag.ChoiseQuestion.Option2.Text</p>
            <p>
                Eigenschappen:<br />
                <ul>
                    @foreach (Property property in @ViewBag.ChoiseQuestion.Option2.Properties)
                    {
                        <li>@Html.DisplayFor(modelItem => property.QualityType) @Html.DisplayFor(modelItem => property.Text)</li>
                    }
                </ul>
            </p>
            <p>Eigenschap personage: @ViewBag.ChoiseQuestion.Option2.OptionKeyword.KeywordText</p>
        </div>
    </div>
</div>
@Html.ActionLink("Back to List", "Index")