﻿@using Domein

@{
    ViewBag.Title = "Keuze vraag wijzigen";
    List<Keyword> keywords = new List<Keyword>(ViewBag.Keywords);
    ChoiseQuestion question = ViewBag.ChoiseQuestion;
    //Layout = "_Layout";
}

<h2>Keuze vraag wijzigen</h2>
<div class="container">
    <form action="/ChoiseQuestion/Edit" method="post">
        <div class="row">
            <fieldset>
                <legend>Keuzevraag</legend>
                ID: <input type="text" name="questionId" readonly="readonly" value="@question.Id"><br>
                vraag <input type="text" name="question" value="@question.ChoiseText" /><br>
                Keyword:
                <select id="keyword1" name="keywordMatch">
                    @foreach (Keyword item in keywords)
                    {
                        if (item.Id == question.choiseMatchCollection[0].Id)
                        {
                            <option selected="selected" value="@item.Id">@item.KeywordText</option>
                        }
                        <option value="@item.Id">@item.KeywordText</option>
                    }
                </select>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend>Optie 1</legend>
                    <p>
                        Optie tekst: <input type="text" name="option1Text" value="@question.Option1.Text" /><br>
                    </p>
                    <p>
                        Eigenschap: <input type="text" name="eigenschapOptie1" value="@question.Option1.Properties[0].Text" />
                    </p>
                    <p>
                        <select id="keyword2" name="keywordOptie1">
                            @foreach (Keyword item in @keywords)
                            {
                                if (item.Id == @question.Option1.OptionKeyword.Id)
                                {
                                    <option selected="selected" value="@item.Id">@item.KeywordText</option>
                                }
                                <option value="@item.Id">@item.KeywordText</option>
                            }
                        </select>
                    </p>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>Optie 2</legend>
                    <p>
                        Optie tekst: <input type="text" name="option2Text" value="@question.Option2.Text" /><br>
                    </p>
                    <p>
                        Eigenschap: <input type="text" name="eigenschapOptie2" value="@question.Option2.Properties[0].Text" />
                    </p>
                    <p>
                        <select id="keyword" name="keywordOptie2">
                            @foreach (Keyword item in @keywords)
                            {
                                if (item.Id == @question.Option2.OptionKeyword.Id)
                                {
                                    <option selected="selected" value="@item.Id">@item.KeywordText</option>
                                }
                                <option value="@item.Id">@item.KeywordText</option>
                            }
                        </select>
                    </p>
                </fieldset>
            </div>
        </div>
        <p><input type="submit" value="Submit" /> </p>
    </form>

</div>