﻿@model List<Domein.City>

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<h2>title</h2>
<form action="/Party/Create" method="post">
    <fieldset>
        Id <input type="text" name="id" /><br>
        Name <input type="text" name="naam" /> <br>
    </fieldset>
    <fieldset>
        Steden
        <select id="city" name="city">
            @foreach (var item in Model)
            {
                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Name)</option>
            }

        </select>

    </fieldset>
    <p><input type="submit" value="Submit" /> </p>
</form>
