﻿@model Domein.Party

@{
    ViewBag.Title = "title";
   // Layout = "_Layout";
}

<h2>title</h2>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Partij naam</th>
        <th>Vestigingsplaats</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Id)</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.LoctionCity.Name)</td>
    </tr>
    @Html.ActionLink("Back to List", "Index")
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}