﻿@using Domein

@{
    ViewBag.Title = "Edit Party";
    //Layout = "_Layout";
}

<h2>Edit Party</h2>
<form action="/Party/Edit" method="post">
    <fieldset>
        Id <input type="text" name="id" readonly="readonly" value=@ViewBag.Party.Id><br>
        Name <input type="text" name="naam" value=@ViewBag.Party.Name /> <br>
    </fieldset>
    <fieldset>
        Steden
        <select id="city" name="city">
            @foreach (City item in @ViewBag.Cities)
            {
                if (item.Id == @ViewBag.Party.LoctionCity.Id)
                {
                    <option selected="selected" value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Name)</option>
                }
                <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.Name)</option>
            }

        </select>

    </fieldset>
    <p><input type="submit" value="Submit" /> </p>
</form>
