﻿@{
    ViewBag.Title = "Create";
    //Layout = "_Layout";
}

<h2>Create</h2>
<form action="/Keyword/Create" method="post">
    Keyword <input type="text" name="keyword" /><br>
    <input type="submit" value="submit" />
</form>