﻿@model Domein.Keyword

@{
    ViewBag.Title = "Verwijder keyword";
    //Layout = "_Layout";
}

<h2>Verwijder keyword</h2>
<div>
    <h4>Category</h4>
    <hr />
    <table style="width:100%">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.KeywordText)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Id)</td>
            <td>@Html.DisplayFor(model => model.KeywordText)</td>
        </tr>
    </table>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}