﻿@model Domein.Keyword

@{
    ViewBag.Title = "Details";
    //Layout = "_Layout";
}

<h2>Details</h2>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KeywordText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KeywordText)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>