﻿@model Domein.Keyword

@{
    ViewBag.Title = "Edit Keyword";
    //Layout = "_Layout";
}

<h2>Edit Keyword</h2>
<form action="/City/Edit" method="post">
    ID <input type="text" name="id" readonly="readonly" value=@Html.DisplayFor(item => item.Id)><br>
    Keyword <input type="text" name="keyword" value="@Html.DisplayFor(item => item.KeywordText)"><br>
    <input type="submit" value="submit" />
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>